
/*Bodys de los HTML*/
.bodyindex{
        width: 100%;
        height: 100%;
        --s: 140px; /* control the size */
      
        --_g: #0000 52%, #170409 /* first color */ 54% 57%, #0000 59%;
        background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
            calc(var(--s) / 2),
          radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
            0,
          radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
          radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #67917a; /* second color */
        background-size: calc(var(--s) / 4.667) var(--s),
          var(--s) calc(var(--s) / 4.667);
      }
      
.bodysobremi{
    background-color: #67917a;
}

.bodyportfolio{
    background-color: #67917a;
}

.bodyskills{

}


/*Menu Principal*/

.archivador {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: auto;
    max-width: 95%;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-principal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-top: 20px;
    padding: 0px 0;
    border-bottom: 0px solid white;
    margin-bottom: 0px;

}

.menu-principal label {
    position: relative;
    text-align: center;
    background-color: #67917a;
    padding: 15px 10px;
    margin-right: 0px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #005bb5;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.menu-principal label:hover {
    background-color: sandybrown;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color:#67917a;
    font-weight: bold;
    border-bottom: 3px solid #67917a;
}



.nav {
    display: none;
    padding: 10px;
    background-color: #e6f4ff;
    border: 1px solid #67917a;
    border-radius: 0 0 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type="radio"]:checked + label + .nav {
    display: block;
}
.container {
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 100%;
    height: auto;
  }
.contcarpeta{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.nom_introduccion{
    float: right;
}

/*Sobre Mi HTML*/
h2{
  font-size: 50px;
  text-align: center;
}

table{
  margin: 20px auto;
  border-collapse: collapse; 
  width: 100%;
}
.fotocurriculum{
    width: 350px;
    height: 500px;
    border-radius: 20px;   
}

.textocurriculum{
  width: 800px;
  height: 450px;
    background-color: white;
    border-radius: 20px;
    border: 20px;
    color: #67917a;
    font-size: 40px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    align-content: center;
}

hr{
  width: 1600px;
  border-color: #170409;
}
.contenedor {
    justify-content: center;
    display: flex;
    gap: 50px;

  }
  
  .item {
    position: relative;
    text-align: center;
  }
  
  .item img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    transition: transform 0.3s ease;
  }
  
  .item img:hover {
    transform: scale(1.1);
  }
  

  .texto {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  .item:hover .texto {
    opacity: 1;
  }


/*FOOTER*/
footer{
    background-color:green;
}

/* From Uiverse.io by Smit-Prajapati */ 
.orange {
  color: #ff7a01;
}

.form-container {
  max-width: 700px;
  margin: 30px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #ff7a01;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #ff7a01;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ff7a01;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: #ff7a01;
  color: #001925;
}